Package: yapesdl
Version: 0.70.1-1
Section: non-free
Priority: optional
Architecture: amd64
Depends: libsdl2-2.0-0 (>= 2.0), libstdc++6, libc6
Installed-Size: 1359
Maintainer: Attila Grosz <gaia@atilia.eu>
Homepage: http://yapesdl.codeplex.com
Description: YAPE is a decent no-nonsense Commodore 264 family (C16, plus/4 etc.) emulator.
  YAPE is a decent no-nonsense Commodore 264 family (C16, plus/4 etc.) emulator.
  It is being developed for 10+ years by now and is available in Windows as well as multiplatform (SDL) editions. The SDL version features:
  - full, cycle exact MOS 7501/8501 CPU emulation
  - almost full TED 7360/8360 chip emulation
  - real 1541 drive emulation
  - full ROM banking
  - almost full tape emulation
  - joystick emulation via cursor keys and joypads
  - PRG and TAP file format support
  - SID card emulation
  - partial CRT emulation
  - fake disk LOAD/SAVE to the file system

